@media only screen and (max-width: 1140px){
    .navigation-list{
        flex-direction: column;
    }
    .navigationbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }
    .rightNav{
        width: 60%
        text-align: center;
        padding: 0 45px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-res{
        height: 72px;
    }
    .v-class-res{
        opacity: 0;
    }
    .form{
        max-width: 80%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: left;
    }
    .text-small{
        text-align: left;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0;
    }
    .box-main{
        height: 55%;
    }
}
